body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: powderblue
}

.container {
    margin: .5rem;
    justify-content: center;
}

h1 {
    color: dodgerblue;
    align-self: center;
}

h2 {
    color: deepskyblue;
    text-decoration: underline;
}

.login_button{
    background-color: #585858;
    color: #fff; 
    cursor: pointer; 
    padding: 10px 30px; 
    display: inline-block;
    border-radius: 25px;
}

a {
    color: blue
}

input {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    display: block;
    align-items: center;
    border-radius: 25px;
   
}

input[type=submit] {
    background-color: dodgerblue;
    color: antiquewhite;
    border-radius: 25px;
}

input[type=submit]:hover {
    cursor: pointer;
}

input[value=delete] {
    background-color: lightcoral;
    color: antiquewhite;
    border-radius: 25px;
}

#user_content {
    margin: .5rem;
}

#user_post {
    text-align: center;
    border:black solid 1px;
    padding: 1rem;
    width: 15rem;
    height: 25rem;
    display: inline-grid;
    margin: 0.5rem 1rem;
    box-shadow: 3px 4px tan;
}

#user_post form {
    width: 100%;
}

#coral_image {
    max-width:100%;
    max-height:100%;
    justify-self: center;
}

#img_container {
   width: 40rem;
   height: 30rem;
}

.post_page_img {
    max-width: 100%;
    max-height: 100%;
}

#homepage_container {
    width: 30rem;
   height: 25rem;
}

#homepage_img {
    max-width: 100%;
    max-height: 100%;
}

#warning {
    color: red;
}

#footer {
    color: tan
}