<h1>Great, <%= @user.username %>. You're Logged In!</h1>
<h2>Make a Post</h2>
<form action="/user/<%= @user.id %>" method="POST">
    <input type="textarea" name="post_body" placeholder="Write Post Here" required>
    <input type="submit" value="Publish Post">
</form>

<h2>Your Content</h2>
<div id="usercontent">
    
        <% @user.posts.each do |post| %>
        <div id="userpost">
            <%= post.post_body %>
            <a href="/post/<%= post.id %>">edit</a>
        </div>
        <% end %>
    
</div>

<h3>Click<a href="/logout"> Here</a> to Logout</h3>
