<h1><%= @post.post_body %></h1>
<form action="/post/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <input type="text" name="edit_post" placeholder="Edit This Post" required>
    <input type="submit" value="edit">
</form>
<form action="/post/<%= @post.id %>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="delete">
</form>
<script >