<h1>Hi! Welcome to <em>Coral Collector</em></h1><br>
<div id="homepage_container">
    <img id="homepage_img" src="https://content.invisioncic.com/Mnanoreef/monthly_2020_10/October-2020-Featured-Reef-Profile-FTS.thumb.jpg.28590c42778beb3a5d7ed1a8277d9fae.jpg" alt="reeftank">
</div>
<a href="/login" class="login_button">Login </a>
<a href="/register" class="login_button">Register</a>
