<h1>Register</h1>
<form method="POST" action="/register">
    <input type="text" name="username" placeholder="Username:" minlength="3" required>
    <input type="text" name="password" placeholder="Password:" minlength="6" required>
    <input type="submit" value="Register">
</form>
<br>
<a href="/login" class="login_button">Login </a>
<a href="/" class="login_button">Back </a>